.btn {
    border-radius: 15px;
    background: #f8f8fa;
    display: flex;
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;

    &:hover {
        filter: brightness(90%);
    }
    &:active {
        filter: brightness(80%);
    }
}
