.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        width: 100vw;
        height: 100vh;
        content: '';
        position: absolute;
        background-image: url('../../../../public/assets/authBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        filter: blur(8px);
        z-index: -1;
    }
}
